
/* 
.header__menu-item {
  text-transform: uppercase;
}

@media screen and (min-width: 990px) {
  .header--middle-left {
    grid-template-columns: auto 1fr;
  }

  .header__inline-menu {
    text-align: right;
  }
}

@media screen and (min-width: 990px) {
  .page-width--narrow {
    max-width: 90rem;
  }
}
   */